/* src/component/Review.css */
.reviews {
    padding: 20px;
    color: black;
    text-align: center;
  }
  .reviews h2 {
    color: rgb(211, 163, 7);
  }
 
  .review-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr)); /* Responsive grid */
    height: 200px;
    gap: 20px;
    margin-top: -50px; /* Space above the review section */
  }
  
  .review-card {
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Background color for review cards */
    padding: 15px; /* Inner padding */
    transition: transform 0.3s; /* Smooth hover effect */
  }
  
  .review-card:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
  }
  
  .feedback {
    margin-bottom: 10px; /* Space below feedback */
  }
  
  .rating {
    color: gold; /* Color for the stars */
    font-size: 24px; /* Size for the stars */
  }
/* src/component/Review.css */
.tags {
    margin-top: 10px; /* Space above tags */
    display: flex; /* Use flex to arrange tags */
    flex-wrap: wrap; /* Allow tags to wrap */
    justify-content: center; /* Center align tags */
  }
  
  .tag {
    background: #e0e0e0;
    border-radius: 3px;
    padding: 5px;
    margin: 5px; /* Add margin for spacing */
    font-size: 12px;
    font-weight: bold; /* Make tags bold for emphasis */
  }
  
  .image {
    display: flex; /* Flexbox for image alignment */
    justify-content: center; /* Center align images */
   
    margin-top: 230px; /* Space above images */
    gap: 340px;
  }
  
  .about-images {
    margin: 0 5px; /* Space between images */
    border-radius: 50%;
    margin-bottom: 22px;
  }
  .text-row {
    display: flex; /* Flexbox for text items */
    justify-content: space-between; /* Space between text items */
  }
  
  .text-item {
    margin: 0 10px; /* Space between text items */
    text-align: center; /* Center the text */
  }
  
  .text-item div {
    color: #fff;
    margin: 5px 0; /* Space between name and work title */
    font-size: 23px; /* Adjust font size for titles */
  }
  